body {
    font-family: 'Roboto', serif;
} 

.hero {
    color: white;
    text-align: left;
    background-color: #1F2937;
    margin: 0px;
    padding: 10px;
    border: 0px;
    display: flex;
    justify-content: space-between;
}


.topimage {
    width: 500px;
    height: auto;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button1 {
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: 20px;
    background-color: #3882F6;
    color: white;
    width: 115px;
    border: none;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 130px;
    margin-right: 50px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-head {
    display: flex;
    gap: 40px;
}

.imagebox {
    display: flex;
    justify-content: space-evenly;
}

.imagebox img {
    width: 250px;
    max-height: 100%;
    margin: 20px;
 }

h2 {
    text-align: center;
    color: #1F2937;
    padding: 10px;
}

.quote {
    background-color: #E5E7EB;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
    border: 0px;
    display: flex;
    justify-content: center; /* Horizontally center the flex items */
    align-items: center; /* Vertically center the flex items */
}

.quote p {
 max-width: 65%;
 margin: 55px;
}

span {
    display: block;
    text-align: right;
    font-weight: bold;
    color: rgb(10, 7, 36);
    font-style: normal;
    font-size: 24px;
}

.container {
    display: flex;
    font-size: 32px;
    color: white;
    font-weight: bold;
    min-height: 150px;
    width: auto;
    background-color: #3882F6;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: left; /*vertical alignment*/
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 25px;
}

.action p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.subtext {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.button2 {
    font-weight: bold;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    margin: 20px;
    background-color: #3882F6;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: 20px;
}

footer {
    color: white;
    text-align: center;
    background-color: #1F2937;
    margin: 0px;
    padding: 30px;
    border: 0px;
}